* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

html, body {
    height: 100%;
    width: 100%;
    background: #353238;
    padding: 0;
}

html {
    display: flex;
    margin: auto;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    display: flex;
    margin: 0;
  }
  
body {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

b {
    color: red;
    font-size: 1.25em;
}

.header {
    margin-top: 0;
    height: 234px;
    color: rgb(59, 59, 59);
}

.banner {
    background-size: cover;
    display: flex;
    height: 100%;
    background-image: url(images/banner.jpg);
}

.logo {
    display: flex;
    flex: 1;
    margin: 0;
}

.header-text {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    width: 70%;
    font-size: 6vh;
    flex: 3;
    margin: 0;
}

b {
    margin: 10px;
}

ul {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    font-size: 2rem;
}

.content {
    margin: 1px;
    border-radius: 10px;
    height: 300px;
    display: flex;
}

.page-text {
    display: flex;
    flex: 1;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba( 180, 180, 180, .5);
    height: 70px;
    border-radius: 10px;
}

.macandcheese {
    background-image: url(images/macandcheese.jpeg);
    background-position: center;
    background-size: cover;
    color: black;
    font-size: 1em;
}

.ShakeoftheGODS {
    background-image: url(images/oatshake.jpeg);
    background-position: center;
    background-size: cover;
    color: black;
    font-size: 1em;
}

.salsa {
    background-image: url(images/salsa.jpg);
    background-position: center;
    background-size: cover;
    color: black;
    font-size: 1em;
}

li {
    margin: 0;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #646464;
    height: 20px;
}